html {
    background: #173fc0 url(http://www.allwhitebackground.com/images/5/Blue-Abstract-Background-High-Quality-Image.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 5px solid white;
    border-radius: 50%;
    margin: 0 auto 500px;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0,-1.23, 0, 2.33);
}

.digital-clock {
    display: flex;
    margin-top: 50px;
    color: white;
    font-size: 9rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}